extends layout

block content
  // Navigation
  nav.navbar.navbar-light.bg-light.static-top
    .container
      a.navbar-brand(href='#') 
      a.btn.btn-primary(href='#') Ingresa
  // Masthead
  header.masthead.text-white.text-center
    .overlay
    .container
      .row
        .col-xl-9.mx-auto          
          h1.mb-5 Red de bicicletas
          h2.mb-5 La primera comunidad online de ciclistas urbanos!
        .col-md-10.col-lg-8.col-xl-7.mx-auto
          form
            .form-row
              .col-12.col-md-9.mb-2.mb-md-0
                input.form-control.form-control-lg(type='email' placeholder='Ingresa tu E-mail...')
              .col-12.col-md-3
                button.btn.btn-block.btn-lg.btn-primary(type='submit') Suscribete!
  // Icons Grid
  section.features-icons.bg-light.text-center
    .container
      .row
        .col-lg-4
          .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
            .features-icons-icon.d-flex
              i.fas.fa-biking.m-auto.text-primary
            h3 Buscador de ciclistas
            p.lead.mb-0 Encontra a tus compañeros de ruta, esten donde esten!
        .col-lg-4
          .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
            .features-icons-icon.d-flex
              i.fas.fa-map-marked-alt.m-auto.text-primary
            h3 Mapas interactivos
            p.lead.mb-0 Con esta utilidad vas a poder marcar tu ruta siempre!
        .col-lg-4
          .features-icons-item.mx-auto.mb-0.mb-lg-3
            .features-icons-icon.d-flex
              i.fas.fa-dollar-sign.m-auto.text-primary
            h3 Gratis
            p.lead.mb-0 Nuestros servicios son gratuitos, solo suscribete y disfruta nuestros servicios!
  // Image Showcases
  section.showcase
    .container-fluid.p-0
      .row.no-gutters
        .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('img/bg-showcase-1.jpg');")
        .col-lg-6.order-lg-1.my-auto.showcase-text
          h2 Fully Responsive Design
          p.lead.mb-0
            | When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it&apos;s a phone, tablet, or desktop the page will behave responsively!
      .row.no-gutters
        .col-lg-6.text-white.showcase-img(style="background-image: url('img/bg-showcase-2.jpg');")
        .col-lg-6.my-auto.showcase-text
          h2 Updated For Bootstrap 4
          p.lead.mb-0
            | Newly improved, and full of great utility classes, Bootstrap 4 is leading the way in mobile responsive web development! All of the themes on Start Bootstrap are now using Bootstrap 4!
      .row.no-gutters
        .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('img/bg-showcase-3.jpg');")
        .col-lg-6.order-lg-1.my-auto.showcase-text
          h2 Easy to Use &amp; Customize
          p.lead.mb-0
            | Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options. Out of the box, just add your content and images, and your new landing page will be ready to go!
  // Testimonials
  section.testimonials.text-center.bg-light
    .container
      h2.mb-5 Que opinan quienes lo probaron...
      .row
        .col-lg-4
          .testimonial-item.mx-auto.mb-5.mb-lg-0
            img.img-fluid.rounded-circle.mb-3(src='img/testimonials-1.jpg' alt='')
            h5 Ermelinda E.
            p.font-weight-light.mb-0 &quot;Es mi guia para hacer piruetas en la ciudad!&quot;
        .col-lg-4
          .testimonial-item.mx-auto.mb-5.mb-lg-0
            img.img-fluid.rounded-circle.mb-3(src='img/testimonials-2.jpg' alt='')
            h5 Alfredo S.
            p.font-weight-light.mb-0
              | &quot;Ahora puedo ir a toda velocidad sabiendo que no hay peligros adelante!&quot;
        .col-lg-4
          .testimonial-item.mx-auto.mb-5.mb-lg-0
            img.img-fluid.rounded-circle.mb-3(src='img/testimonials-3.jpg' alt='')
            h5 Antonio R.
            p.font-weight-light.mb-0 &quot;Muchas gracias por este servicio, ahora se donde estan mis amigos y compañeros de ruta!&quot;
  // Call to Action
  section.call-to-action.text-white.text-center
    .container
    #main_map
  // Footer
  footer.footer.bg-light
    .container
      .row
        .col-lg-6.h-100.text-center.text-lg-left.my-auto
          ul.list-inline.mb-2
            li.list-inline-item
              a(href='#') About
            li.list-inline-item &sdot;
            li.list-inline-item
              a(href='#') Contact
            li.list-inline-item &sdot;
            li.list-inline-item
              a(href='#') Terms of Use
            li.list-inline-item &sdot;
            li.list-inline-item
              a(href='#') Privacy Policy
          p.text-muted.small.mb-4.mb-lg-0 &copy; Your Website 2020. All Rights Reserved.
        .col-lg-6.h-100.text-center.text-lg-right.my-auto
          ul.list-inline.mb-0
            li.list-inline-item.mr-3
              a(href='#')
                i.fab.fa-facebook.fa-2x.fa-fw
            li.list-inline-item.mr-3
              a(href='#')
                i.fab.fa-twitter-square.fa-2x.fa-fw
            li.list-inline-item
              a(href='#')
                i.fab.fa-instagram.fa-2x.fa-fw
  // Bootstrap core JavaScript
  script(src='/vendor/jquery/jquery.min.js')
  script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
  script(src='/javascripts/map.js')
  //Mapas css
  link(rel='stylesheet' href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css' integrity='sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==' crossorigin='')
  // mapas script
  script(src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js' integrity='sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==' crossorigin='')

